#content-wrapper
  header.header.header--bg
    .container
      nav.navbar
        .navbar-header
          a.navbar-brand(href='#')
        #myNavbar
          ul.nav.pull-right
            li
              a(href='#') INICIO
            li
              a(href='#') SERVICIOS
            li
              a(href='#') EXPERIENCIA
            li
              a(href='tel:97979') CONTACTO
      .row
        .col-lg-6
          img.img-responsive(src='' alt='')
        .col-lg-6.header__content
          h1.title
            | Climatización Oeste
            span.title-style
          p
            | JOSÉ LUIS JÁUREGUI
          a.header__button(href='#') VER MAS
          a.header__button(href='#') CONTACTARSE
  section.sponsors.sponsors--bg
    .container
        swiper(:options="swiperOption")
          swiper-slide
            .sponsors__single
              img(src='../../assets/img/sponsors1.png' alt='')
          swiper-slide
            .sponsors__single
              img(src='../../assets/img/sponsors2.png' alt='')
          swiper-slide
            .sponsors__single
              img(src='../../assets/img/sponsors3.png' alt='')
          swiper-slide
            .sponsors__single
              img(src='../../assets/img/sponsors4.png' alt='')
          swiper-slide
            .sponsors__single
              img(src='../../assets/img/sponsors5.png' alt='')
          swiper-slide
            .sponsors__single
              img(src='../../assets/img/sponsors6.png' alt='')
  section#about.section
  .container
    .row
      .col-lg-6.col-md-6.col-xs-12
        .left-text-content
          .section-heading
            h6 About Us
            h2 We work with top brands and startups
          .row
            .col-md-6.col-sm-6
              .service-item
                img(src='assets/images/service-item-01.png' alt='')
                h4 Top Notch
            .col-md-6.col-sm-6
              .service-item
                img(src='assets/images/service-item-01.png' alt='')
                h4 Robust
            .col-md-6.col-sm-6
              .service-item
                img(src='assets/images/contact-info-03.png' alt='')
                h4 Reliable
            .col-md-6.col-sm-6
              .service-item
                img(src='assets/images/contact-info-03.png' alt='')
                h4 Up-to-date
            .col-md-12
              a.main-button-icon(href='#')
                | Learn More
                i.fa.fa-arrow-right
      .col-lg-6.col-md-6.col-xs-12
        .right-text-content
          p
            a(rel='nofollow noopener' href='https://templatemo.com/tm-543-breezed' target='_parent') Breezed HTML Template
            |  is provided by TemplateMo for absolutely free of charge. You can download, edit and use this for your non-commercial and commercial websites.
            br
            br
            | Redistributing this template as a downloadable ZIP file on any template collection website is strictly prohibited. You will need to talk to us if you want to redistribute this template. Thank you.
            br
            br
            | This is a Bootstrap v4.3.1 CSS layout. Do you like it? You can feel free to
            a(rel='nofollow noopener' href='https://templatemo.com/contact' target='_parent') talk to us
            |  if you have anything.

  section.project
    .page-section
      .text-center
        h2.page-section__title Servicios
        p.page-section__paragraph
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .row.gutters-50
        .col-md-4
          .thumbnail
            a(href='assets/images/featured-project-pic1.png' target='_blank')
              img.img-responsive(src='assets/images/featured-project-pic1.png' alt='')
              .caption
                h4.project__title DESIGN
                p.project__paragraph Lorem ipsum dolor sit amet
        .col-md-4
          .thumbnail
            a(href='assets/images/featured-project-pic2.png' target='_blank')
              img.img-responsive(src='assets/images/featured-project-pic2.png' alt='')
              .caption
                h4.project__title DESIGN
                p.project__paragraph Lorem ipsum dolor sit amet
        .col-md-4
          .thumbnail
            a(href='assets/images/featured-project-pic3.png' target='_blank')
              img.img-responsive(src='assets/images/featured-project-pic3.png' alt='')
              .caption
                h4.project__title DESIGN
                p.project__paragraph Lorem ipsum dolor sit amet
      .row.gutters-50
        .col-md-4
          .thumbnail
            a(href='assets/images/featured-project-pic4.png' target='_blank')
              img.img-responsive(src='assets/images/featured-project-pic4.png' alt='')
              .caption
                h4.project__title DESIGN
                p.project__paragraph Lorem ipsum dolor sit amet
        .col-md-4
          .thumbnail
            a(href='assets/images/featured-project-pic5.png' target='_blank')
              img.img-responsive(src='assets/images/featured-project-pic5.png' alt='')
              .caption
                h4.project__title DESIGN
                p.project__paragraph Lorem ipsum dolor sit amet
        .col-md-4
          .thumbnail
            a(href='assets/images/featured-project-pic6.png' target='_blank')
              img.img-responsive(src='assets/images/featured-project-pic6.png' alt='')
              .caption
                h4.project__title DESIGN
                p.project__paragraph Lorem ipsum dolor sit amet
  //- section.video.video--bg
  //-   .container
  //-     .page-section
  //-       .row
  //-         .col-md-7.video__left
  //-           a(data-toggle='modal' data-target='#myModal' href='#')
  //-             i.material-icons play_circle_filled
  //-         .col-md-5
  //-           .video__right.text-center
  //-             h2.video__title Watch the video
  //-             .video__title-style
  //-               span.first-line
  //-               span.second-line
  //-             p
  //-               | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
  //-             a.button.button--white(href='#') TRY NOW
  // video-popup
  //- .container
  //-   #myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  //-     .modal-dialog(role='document')
  //-       .modal-content
  //-         .modal-body
  //-           button.close(type='button' data-dismiss='modal' aria-label='Close')
  //-             span(aria-hidden='true') &times;
  //-           .embed-responsive.embed-responsive-16by9
  //-             iframe#video.embed-responsive-item(src='https://www.youtube.com/embed/wKtPBOb80II?autoplay=0' frameborder='0' allowfullscreen='' allowscriptaccess='always')
  // video-popup-end
  section.team.team--bg
    .container
      .page-section
        .text-center
          h2.page-section__title Servicios
          .team__title-style
            span.first-line
            span.second-line
          p.page-section__subtitle
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        .row.gutters-80
          .col-md-4
            .thumbnail.team__single
              .bio.text-center
                img(src='../../assets/img/team1.png' alt='')
                h2 Kabbo Liate, Bangladesh
                p UX/UI Designer
              .caption
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                .social-icons
                  li
                    a(href='#')
                      i.flaticon-facebook-letter-logo
                  li
                    a(href='#')
                      i.flaticon-twitter-logo-silhouette
                  li
                    a(href='#')
                      i.flaticon-google-plus
                  li
                    a(href='#')
                      i.flaticon-pinterest-logo
          .col-md-4
            .thumbnail.team__single
              .bio.text-center
                img(src='../../assets/img/team2.png' alt='')
                h2 John Doe, US
                p UX/UI Designer
              .caption
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                .social-icons
                  li
                    a(href='#')
                      i.flaticon-facebook-letter-logo
                  li
                    a(href='#')
                      i.flaticon-twitter-logo-silhouette
                  li
                    a(href='#')
                      i.flaticon-google-plus
                  li
                    a(href='#')
                      i.flaticon-pinterest-logo
          .col-md-4
            .thumbnail.team__single
              .bio.text-center
                img(src='../../assets/img/team3.png' alt='')
                h2 Johnny Depp, Singapoor
                p UX/UI Designer
              .caption
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                .social-icons
                  li
                    a(href='#')
                      i.flaticon-facebook-letter-logo
                  li
                    a(href='#')
                      i.flaticon-twitter-logo-silhouette
                  li
                    a(href='#')
                      i.flaticon-google-plus
                  li
                    a(href='#')
                      i.flaticon-pinterest-logo
  section.testimonial
    .container
      .page-section
        .text-center
          h2.page-section__title Trabajos realizados
          .testimonial__title-style
            span.first-line
            span.second-line
          p.page-section__subtitle
            | Lorem ipsum dolor sit amet, consectetur
            a(href='#') 450
            |  adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        .row
          .col-md-8
            .accordion-group
              #one.collapse.in.indent
                .collapse__wrapper
                  .bio.bio-1
                    h2 Tyrion Lannister
                    p Company Name
                  .star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                  p.paragraph
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              #two.collapse
                .collapse__wrapper
                  .bio.bio-2
                    h2 Sansa Stark
                    p Company Name
                  .star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                  p.paragraph
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              #three.collapse
                .collapse__wrapper
                  .bio.bio-3
                    h2 Khal Drogo
                    p Company Name
                  .star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                  p.paragraph
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              #four.collapse
                .collapse__wrapper
                  .bio.bio-4
                    h2 Jon Snow
                    p Company Name
                  .star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                    li
                      i.material-icons star
                  p.paragraph
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          .col-md-4.testimonial-right.open-default
            button.button-testimonial.button-testimonial-1(data-toggle='collapse' data-target='#one')
              .bio
                h2 Tyrion Lannister
                p Company Name
            button.button-testimonial.button-testimonial-2(data-toggle='collapse' data-target='#two')
              .bio
                h2 Sansa Stark
                p Company Name
            button.button-testimonial.button-testimonial-3(data-toggle='collapse' data-target='#three')
              .bio
                h2 Khal Drogo
                p Company Name
            button.button-testimonial.button-testimonial-4(data-toggle='collapse' data-target='#four')
              .bio
                h2 Jon Snow
                p Company Name
  section.form.form--bg
    .container
      .page-section
        .text-center
          h2.page-section__title.page-section__title--white Contacto
          .form__title-style
            span.first-line
            span.second-line
          p.page-section__subtitle.page-section__subtitle--white
            | Para pedir un presupuesto o antes cualquier consulta no dude en contactarme
        form(action='#')
          .form-group
            input.form-control(type='text' placeholder='Name')
          .form-group
            input.form-control(type='email' placeholder='Email')
          .form-group
            textarea.form-control(rows='5' placeholder='Message')
          .row
            .col-md-6.checkbox
              input#checkbox-1(type='checkbox')
              label(for='checkbox-1')  Subscribe to newslatter
            .col-md-6.form-button
              input.button--form(type='submit' value='SEND')
  footer.footer.footer--bg
    .container
      .row
        .col-md-4.footer__left
          a.navbar-brand(href='#')
          p
            | Copyright
            span &copy;
            |  Webphorium 2020
        .col-md-2.footer__link
          li
            a(href='#') Link goes here
          li
            a(href='#') Another Link Here
          li
            a(href='#') Your Text Here
          li
            a(href='#') lorem ipsum dolor amet
        .col-md-2.footer__link
          li
            a(href='#') Link goes here
          li
            a(href='#') Another Link Here
          li
            a(href='#') Your Text Here
          li
            a(href='#') lorem ipsum dolor amet
        .col-md-4.footer__social-icons
          li
            a(href='#')
              i.flaticon-facebook-letter-logo
          li
            a(href='#')
              i.flaticon-twitter-logo-silhouette
          li
            a(href='#')
              i.flaticon-google-plus
          li
            a(href='#')
              i.flaticon-pinterest-logo
