#content-wrapper
  header.header.mb-3
    .container
      nav.navbar
        .navbar-header
          ul.nav.pull-left
            li
              a(href='#')
                img.logo(src='../../assets/img/logo-co.png' alt='')
        #myNavbar.d-none.d-md-block
          ul.nav.pull-right
            li
              a(href='#') INICIO
            li
              a(href='#services') SERVICIOS
            li
              a(href='#sponsors') EXPERIENCIA
            li
              a(href='#contact') CONTACTO
    image-slider
      .row
        .col-12.col-md-6
          img.img-responsive(src='' alt='')
        .col-12.col-md-6.header__content
          //- a.ml-3.btn.btn-outline-primary(href='#') VER MÁS
          //- a.ml-3.btn.btn-outline-primary(href='#') CONTACTARSE

  section#about.section
    .container
      .page-section
        .row
          .col-12.col-md-6
            .left-text-content
              .section-heading
                h6 Quiénes somos
                h2.page-section__title Nos basamos en
                  .team__title-style
                    span.first-line
                    span.second-line
              .service-items
                .service-item
                  img(src='../../assets/img/quality.png' alt='')
                  h4 Calidad
                .service-item
                  img(src='../../assets/img/shield.png' alt='')
                  h4 Seguridad
                .service-item
                  img(src='../../assets/img/value.png' alt='')
                  h4 Valores
                .service-item
                  img(src='../../assets/img/logistics-delivery.png' alt='')
                  h4 Productividad
          .col-md-6.col-12
            .right-text-content
              p
                a(rel='nofollow noopener' href='https://templatemo.com/tm-543-breezed' target='_parent')
                |En CLIMATIZACION OESTE nos dedicamos a la venta, reparación y service de aires acondicionados, domiciliario e industrial, haciendo provisión de los repuestos necesarios para la reparación de su unidad, con la seguridad de ser confiables en el trabajo realizado.
                br
                br
                | Es un empredimiento que lleva 20 años ininterrumpidos de servicio.
                |Somos un grupo de personas que venimos trabajando hace tiempo en forma separada y decidimos juntarnos para formar hoy la firma.
                br
                br
                | Trabajamos con:
                br
                br
                | Calidad haciendo las cosas bien desde el principio para responder a todas las expectativas y requerimientos de nuestros clientes.
                br
                br
                | Seguridad, respetando las normas y colaborando para que los demas tambien las respeten con el fin de evitar accidentes y mantenernos en un lugar de trabajo seguro.
                br
                br
                | Productividad, procurando el mayor aprovechamiento de los recursos que nos toca administrar, equipos, materias primas, insumos y tiempo.

  section#services.project.team--bg
    .container
      .page-section
        .text-center
          h2.page-section__title Nuestros servicios
            .team__title-style
              span.first-line
              span.second-line
          //- p.page-section__paragraph
          //-   | Podemos brindar un abono mensual , de valor a lo largo de un contrato o periodo de tiempo, permitiendo a los clientes un planeamiento financiero cierto.
          //-   br
          //-   | NO SOMOS CONCESIONARIO, por lo tanto, los valores a cotizar , son menores.
        .row.gutters-80
          .col-md-4
            .card.thumbnail
              .img-container
                img.card-img-top(src='../../assets/img/aire-acondicionado.png' alt='')
              .card-body
                h4.project__title Venta de equipos de aires acondicionados
                p.card-text
                  |en toda su linea, marca y provision de accesorios y repuestos.
          .col-md-4
            .card.thumbnail
              .img-container
                img.card-img-top(src='../../assets/img/colocacion-aire.jpg' alt='')
              .card-body
                h4.project__title Colocación
                p.card-text de equipos individuales, splits, compactos y centrales.
          .col-md-4
            .card.thumbnail
              .img-container
                img.card-img-top(src='../../assets/img/sistemas-calefaccion.jpg' alt='')
              .card-body
                h4.project__title Sistemas de calefacción
                p.card-text
        .row.gutters-80
          .col-md-4
            .card.thumbnail
              .img-container
                img.card-img-top(src='../../assets/img/mantenimiento-mecanico2.png' alt='')
              .card-body
                h4.project__title Mantenimiento mecánico
                p.card-text de los equipos en el lugar
          .col-md-4
            .card.thumbnail
                .img-container
                  img.card-img-top(src='../../assets/img/control-aire-acondicionado.jpg' alt='')
                .card-body
                  h4.project__title Venta y reparación
                  p.card-text de placas electronicas y controles remotos de todas las marcas.
          .col-md-4
            .card.thumbnail
                .img-container
                  img.card-img-top(src='../../assets/img/prevision.jpeg' alt='')
                .card-body
                  h4.project__title Provisión y colocación
                  p.card-text de compresores y de motores eléctricos.
  section.team
    .container
      .page-section
        .text-center
          h2.page-section__title Ventajas
          .team__title-style
            span.first-line
            span.second-line
        .row.gutters-80
          .col-md-4
            .thumbnail.team__single
              .bio.text-center
                .figure
                  img(src='../../assets/img/ahorro.png' alt='')
                h2 Costo
              .caption
                p
                  | El costo del mantenimiento, al ser preventivo o correctivo, es conocido de ante mano, durante un periodo determinado.

          .col-md-4
            .thumbnail.team__single
              .bio.text-center
                .figure
                  img(src='../../assets/img/mantenimiento.png' alt='')
                h2 Mantenimiento
              .caption
                p
                  |  A través del correcto mantenimiento preventivo, se obtiene una permanente disposicion de los equipos a costos operativos reducidos y con una alta eficiencia en la prestación.
          .col-md-4
            .thumbnail.team__single
              .bio.text-center
                .figure
                  img(src='../../assets/img/quality.png' alt='')
                h2 Cálidad
              .caption
                p
                  |  Se alarga la vida util de los equipos, disminuyendo los costos futuros de las inversiónes por renovación.
  section#sponsors
    .page-section.pb-0
      .text-center
            h2.page-section__title Quiénes confían en nosotros
            .team__title-style
              span.first-line
              span.second-line
      .sponsors--bg
        .container
            sponsor-slider
  section#contact.form.form--bg
    .container
      .page-section
        .row
          .col-md-6
            h2.page-section__title.page-section__title--white Contáctenos
            .form__title-style
              span.first-line
              span.second-line
            p.page-section__subtitle.page-section__subtitle--white
              | Para pedir un presupuesto o ante cualquier consulta
              br
              |no dude en escribirnos a través de nuestras redes.
            ul.social-icons.d-flex.w-75
              li
                a(href='#')
                  img(src='../../assets/img/facebook-icon.png' alt='Facebook' title="Facebook")
              li
                a(href='https://api.whatsapp.com/send?phone=5491156478170' target="_blank")
                  img(src='../../assets/img/whatsapp-icon.png' alt='WhatsApp' title="Escribir un WhatsApp")
              li
                a(href="mailto:contacto@climatizacionoeste.com")
                  img(src='../../assets/img/gmail-icon.png' alt='Correo' title="Enviar un correo")
          .col-md-6.d-flex.align-items-center
            form#contactForm.w-100(@submit.prevent="sendEmail")
              .form-group
                input.form-control(type='text' placeholder='Nombre*' v-model="user.name" name="name" required)
              .form-group
                input.form-control(type='email' placeholder='Email*' v-model="user.email" name="email" required)
              .form-group
                input.form-control(type='text' placeholder='Teléfono' v-model="user.phone" name="phone")
              .form-group
                textarea.form-control(rows='5' placeholder='Escriba su consulta*' v-model="user.msg" name="msg" required)
              .form-group
                small Campos obligatorios (*)
              .row
                .col-md-12.form-button.d-flex.justify-content-end
                    button.btn.btn-lg(type="submit")
                      span.spinner-border.spinner-border-sm(v-if="loader" role="status" aria-hidden="true")
                      |Enviar

  footer.footer.footer--bg
    .container
      .row
        .col-12.text-center.footer__left
          a.navbar-brand(href='#')
          p
            | Copyright
            span &copy;
            |  Webphorium 2020
