@import '../../assets/css/abstracts/variables';
@import "../../assets/css/abstracts/variables-bootstrap";
@import "../../assets/css/abstracts/mixins";

/********** common setting **********/
@font-face {
  font-family: 'Geometria';
  src: url("../../assets/fonts/Geometria.ttf");
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url("../../assets/fonts/Geometria-Bold.ttf");
}

@font-face {
  font-family: 'Geometria-Medium';
  src: url("../../assets/fonts/geometria-medium.ttf");
}

ul li, li{
  list-style-type: none;
}

ul{
  padding-left: 0;
}

a:hover, a:focus{
  text-decoration: none;
  outline: 0;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Geometria';
  line-height: 1.8;
}

h1,h2{
  font-family: 'Geometria-Bold';
}

p{
  font-family: "Geometria";
  font-weight: bold;
}

.logo {
  max-width: 50%;
}

.nav li a:hover, .nav li a:focus{
  background: transparent;
}

.gutters-80.row{

  @include laptop-sm {
    margin-right: 40px;
    margin-left: 40px;
  }
}

.service-items {
  display: grid;
  grid-template-columns: 50% 50%;
}

.service-item {
  margin-top: 30px;

  & img {
    width: 30px;
    height: 30px;
  }

  @include laptop-sm {
    display: grid;
    grid-template-columns: 30% 70%;

    & img {
      width: 50px;
      height: 50px;
    }
  }
}

.service-item h4 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  line-height: 46px;
}

.header--bg{
    background: url("../../assets/img/banner-inicio.svg") left center no-repeat;
    background-size: 100% 130%;
    height: 600px;
  }

.header .navbar{
    background: transparent;
    padding: .3rem 0rem;
  }
@media(min-width: 1000px){
  .header .nav li{
    padding-right: 15px;
  }
  .header .nav li:last-child{
    padding-right: 0;
  }
}

.header .nav li a{
  font-family: 'Geometria-Medium';
  font-size: 15px;
  color: #b0bec5;
}

@media (min-width: 1390px){
  .header .nav li a:hover{
    color: #0f81f8;
  }
}

.header .row{
    padding-top: 40px;
    padding-bottom: 120px;
  }

.header__content .title{
      font-size: 55px;
      background: -webkit-linear-gradient(#2086F7, #2BA8F7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.3;
      padding-top: 25px;
      margin-bottom: 30px;
    }

.header__content .title-style{
        background: url("../../assets/img/title-shape.png") left center no-repeat;
        padding: 0px 135px;
        vertical-align: middle;
        margin-left: 20px;
      }

.header__content p{
      font-size: 18px;
      color: #08294c;
      font-weight: bold;
      line-height: 2;
      margin-bottom: 50px;
    }

.header__button{
    display: inline-block;
    font-family: 'Geometria-Medium';
    font-size: 16px;
    color: #0f81f8;
    padding: 13px 50px;
    border: 1px solid #1A82F8;
    border-radius: 30px;
    position: relative;
    background-color: transparent;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, .3);
    margin-right: 20px;
  }

.header__button:after{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: inherit;
      border: inherit;
      -webkit-filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, .4));
              filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, .4));
    }

.header__button:hover{
      background-color: #0F81F8;
      color: #fff;
      text-shadow: none;
      border:0;
      -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
              box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
    }

.navbar-brand{
  background: url("../../assets/img/logo.png") left center no-repeat;
  padding:0px 90px;
}

.form .page-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-section{
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-section__title{
    font-size: 1.5rem;
    color: #1680F8;
    margin-bottom: 5px;

    @include laptop-sm {
      font-size: 40px;
    }
  }

.page-section__title--white{
      color: #fff;
    }

.page-section__subtitle{
    font-size: 16px;
    color: #08294c;
  }

.page-section__subtitle a{
      font-family: "Geometria-Medium";
      color: #1780F8;
    }

.page-section__subtitle--white{
      color: #fff;
    }

.page-section__title-style{
    margin-bottom: 30px;
  }

.page-section__title-style .first-line{
      display: inline-block;
      border-top: 3px solid #1680F8;
      border-bottom: 3px solid #1680F8;
      padding: 0px 120px;
      border-radius: 5px;
      position: relative;
    }

.page-section__title-style .first-line:after{
        content: "";
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        right: -17px;
        top:-4px;
        background-color: #1680F8;
      }

.page-section__title-style .second-line{
      display: inline-block;
      border-top: 3px solid #1680F8;
      border-bottom: 3px solid #1680F8;
      padding: 0px 40px;
      border-radius: 5px;
      position: relative;
      margin-left: 38px;
    }

.page-section__title-style .second-line:before{
        content: "";
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: -15px;
        top: -4px;
        background-color: #1680F8;
      }

.steps__single{
    margin-bottom: 80px;
  }

.steps__single img{
      margin-bottom: 30px;
    }

.steps__single p{
      max-width: 170px;
      margin-right: auto;
      margin-left: auto;
    }

.steps__single-first{
      float: left;
    }

.steps__single-last{
      float: right;
    }

.button{

  display: inline-block;
  padding: 12px 55px;
  font-family: "Geometria-Medium";
  font-size: 16px;
  color: #fff;
  border-radius: 30px;
  background-color: #1680F8;
  -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
          box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
}

.button--white{
    background-color: #fff;
    color: #0f81f8;
  }

.button--form{
  display: inline-block;
  padding: 12px 70px;
  border-radius: 30px;
  border: 0;
  font-family: "Geometria-Medium";
  background-color: #fff;
  font-size: 16px;
  color: #0f81f8;
  -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.21);
}

.sponsors--bg{
    background-color: #FAFAFA;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

.team--bg{
    background-color: #FCFCFC;
  }

.team__title-style{
    margin-bottom: 30px;
  }

.team__title-style .first-line{
      display: inline-block;
      border-top: 3px solid #1680F8;
      border-bottom: 3px solid #1680F8;
      padding: 0px 50px;
      border-radius: 5px;
      position: relative;
    }

.team__title-style .first-line:after{
        content: "";
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        right: -17px;
        top:-4px;
        background-color: #1680F8;
      }

.team__title-style .second-line{
      display: inline-block;
      border-top: 3px solid #1680F8;
      border-bottom: 3px solid #1680F8;
      padding: 0px 18px;
      border-radius: 5px;
      position: relative;
      margin-left: 38px;
    }

.team__title-style .second-line:before{
        content: "";
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: -15px;
        top: -4px;
        background-color: #1680F8;
      }

.team__single{
    border-radius: $border-radius;
    border:0;
    box-shadow: $box-shadow;
    padding: 30px 25px;
    height: 22rem;
  }

.team__single .bio .figure {
    padding: .5rem;
    border-radius: 50%;
    background-color:  $gray-100;
    margin-bottom: 1rem;
}
.team__single .bio img{
    width: 60px;
    height: 60px;
}

.team__single .bio h2{
        font-size: 20px;
        color: #08294c;
      }

.team__single .bio p{
        font-size: 16px;
        color: #08294c;
      }

.team__single .caption p{
        font-size: 16px;
        color: #08294c;
        line-height: 1.8;
        margin-bottom: 25px;
      }

.social-icons img{
  max-width: 40%;
}

.team__single .caption .social-icons li a{
            display: block;
          }

.team__single .caption .social-icons li [class^="flaticon-"]:before, .team__single .caption .social-icons li [class*=" flaticon-"]:before{
            margin: 0;
            width: 22px;
            height: 22px;
            display: block;
            border-radius: 50%;
            font-size: 12px;
            padding-top: 2px;
            text-align: center;
            background-color: #DBE4E8;
            color: #fff;
          }

.form--bg{
    background: url("../../assets/img/form-background.png") left center no-repeat;
    background-size: cover;
  }

.form__title-style{
    margin-bottom: 30px;
  }

.form__title-style .first-line{
      display: inline-block;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #fff;
      padding: 0px 58px;
      border-radius: 5px;
      position: relative;
    }

.form__title-style .first-line:after{
        content: "";
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        right: -17px;
        top:-4px;
        background-color: #fff;
      }

.form__title-style .second-line{
      display: inline-block;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #fff;
      padding: 0px 20px;
      border-radius: 5px;
      position: relative;
      margin-left: 38px;
    }

.form__title-style .second-line:before{
        content: "";
        width: 7px;
        height: 7px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: -15px;
        top: -4px;
        background-color: #fff;
      }

.form form{
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }

.form form .form-group{
      margin-bottom: 40px;
    }

.form form .form-control{
      outline: none;
      border: none;
      background: transparent;
      outline-style: none;
      outline-offset: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-bottom: 1px solid #C1DEFD;
      border-radius: 0;
      color: #fff;
      padding: 0px 10px;
    }

.form form .checkbox{
      padding-left: 40px;
    }

.form form .checkbox label{
        font-size: 15px;
        color: #fff;
        padding-left: 5px;
        position: relative;
        bottom: 2px;
      }

.form ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 16px;
    color: #fff;
}

.form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size: 16px;
   color: #fff;
}

.form ::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size: 16px;
   color: #fff;
}

.form :-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-size: 16px;
   color: #fff;
}

.form ::-ms-input-placeholder { /* Microsoft Edge */
   font-size: 16px;
   color: #fff;
}

.footer--bg{
    background-color: #102F4F;
  }

.footer__left .navbar-brand{
  margin-bottom: 50px;
  display: block;
  float: none;
  margin-top: 10px;
}

.footer__left p{
  color: #fff;
  font-size: 15px;
}

.footer__left p span{
        color: #8392A4;
      }

.footer__link li{
  margin-bottom: 20px;
}

.footer__link li a{
  font-family: "Geometria-Medium";
  font-size: 16px;
  color: #254B74;
}

.footer__social-icons{
    text-align: right;
    margin-top: 60px;
  }

.footer__social-icons li{
      display: inline-block;
      margin-right: 15px;
    }

.footer__social-icons li:last-child{
        margin-right: 0;
      }

.footer__social-icons li [class^="flaticon-"]:before, .footer__social-icons li [class*=" flaticon-"]:before{
        margin: 0;
        width: 22px;
        height: 22px;
        display: block;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        background-color: #4C627A;
        color: #102F4F;
      }

.footer__social-icons li a{
        display: block;
      }

  .project .thumbnail {
    border: 0;
    border-radius: $border-radius;
    padding: 0;
    box-shadow: 0px 1.732px 5px 0px rgba(218, 213, 213, 0.42);
    margin-bottom: 50px;
}
.project .thumbnail {

  .img-container {
    height: 17rem;
    width: 100%;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.card-body {
  height: 8rem;
}

.project .thumbnail .caption {
    padding-left: 15px;
}
.project__title {
    font-size: 16px;
    color: #4f4f4f;
    font-weight: bold;
}
.project__paragraph {
    font-size: 16px;
    color: #7d7d7d;
}
.project .thumbnail:hover {
    -webkit-box-shadow: 2.5px 4.33px 11px 0px rgba(136, 136, 136, 0.24);
    box-shadow: 2.5px 4.33px 11px 0px rgba(136, 136, 136, 0.24);
}

.container {
  max-width: 1220px;
}

#contactForm {
  color: $white
}

.form-button {
  button {
    color: $white;
    background-color: transparent;
    border: 1px solid $white;

    &:hover {
      color: $primary;
      background-color: $white;
    }
  }
}
