#content-wrapper
  header.header.mb-3
    .container
      nav.navbar
        .navbar-header
          ul.nav.pull-left
            li
              a(href='#')
                img.logo(src='../../assets/img/logo-co.png' alt='')
        #myNavbar.d-none.d-md-block
          ul.nav.pull-right
            li
              a(href='#') INICIO
            li
              a(href='#services') SERVICIOS
            li
              a(href='#sponsors') EXPERIENCIA
            li
              a(href='#contact') CONTACTO
    image-slider
      .row
        .col-12.col-md-6
          img.img-responsive(src='' alt='')
        .col-12.col-md-6.header__content
          //- a.ml-3.btn.btn-outline-primary(href='#') VER MÁS
          //- a.ml-3.btn.btn-outline-primary(href='#') CONTACTARSE

  section#about.section
    .container
      .page-section
        .row
          .col-12.col-md-6
            .left-text-content
              .section-heading
                h6 Quiénes somos
                h2.page-section__title Nos basamos en
                  .team__title-style
                    span.first-line
                    span.second-line
              .service-items
                .service-item
                  img(src='../../assets/img/quality.png' alt='')
                  h4 Calidad
                .service-item
                  img(src='../../assets/img/shield.png' alt='')
                  h4 Seguridad
                .service-item
                  img(src='../../assets/img/value.png' alt='')
                  h4 Valores
                .service-item
                  img(src='../../assets/img/logistics-delivery.png' alt='')
                  h4 Productividad
          .col-md-6.col-12
            .right-text-content
              p
                a(rel='nofollow noopener' href='https://templatemo.com/tm-543-breezed' target='_parent')
                |En CLIMATIZACION OESTE nos dedicamos a la venta, reparación y service de aires acondicionados, domiciliario e industrial, haciendo provision de los repuestos necesarios para la reparacion de su unidad, con la seguridad de ser confiables en el trabajo realizado.
                br
                br
                | Es un empredimiento que lleva 20 años ininterrumpidos de servicio.
                |Somos un grupo de personas que venimos trabajando hace tiempo en forma separada y decidimos juntarnos para formar hoy la firma.
                br
                br
                | Trabajamos con:
                br
                br
                | Calidad haciendo las cosas bien desde el principio para responder a todas las expectativas y requerimientos de nuestros clientes.
                br
                br
                | Seguridad, respetando las normas y colaborando para que los demas, tambien las respeten, con el fin de evitar accidentes y mantenernos en un lugar de trabajo seguro.
                br
                br
                | Productividad, procurando el mayor aprovechamiento de los recursos que nos toca administrar, equipos, materias primas, insumos y tiempo.

  section#services.project.team--bg
    .container
      .page-section
        .text-center
          h2.page-section__title Nuestros servicios
            .team__title-style
              span.first-line
              span.second-line
          //- p.page-section__paragraph
          //-   | Podemos brindar un abono mensual , de valor a lo largo de un contrato o periodo de tiempo, permitiendo a los clientes un planeamiento financiero cierto.
          //-   br
          //-   | NO SOMOS CONCESIONARIO, por lo tanto, los valores a cotizar , son menores.
        .row.gutters-80
          .col-md-4
            .card.thumbnail
              .img-container
                img.card-img-top(src='../../assets/img/aire-acondicionado.png' alt='')
              .card-body
                h4.project__title Venta de equipos de aires acondicionados
                p.card-text
                  |en toda su linea, marca y provision de accesorios y repuestos.
          .col-md-4
            .card.thumbnail
              .img-container
                img.card-img-top(src='../../assets/img/colocacion-aire.jpg' alt='')
              .card-body
                h4.project__title Colocación
                p.card-text de equipos individuales, splits, compactos y centrales.
          .col-md-4
            .card.thumbnail
              .img-container
                img.card-img-top(src='../../assets/img/sistemas-calefaccion.jpg' alt='')
              .card-body
                h4.project__title Sistemas de calefacción
                p.card-text
        .row.gutters-80
          .col-md-4
            .card.thumbnail
              .img-container
                img.card-img-top(src='../../assets/img/mantenimiento-mecanico2.png' alt='')
              .card-body
                h4.project__title Mantenimiento mecánico
                p.card-text de los equipos en el lugar
          .col-md-4
            .card.thumbnail
                .img-container
                  img.card-img-top(src='../../assets/img/repuestos-originales2.png' alt='')
                .card-body
                  h4.project__title Venta y reparacion
                  p.card-text de placas electronicas y controles remotos de todas las marcas.
          .col-md-4
            .card.thumbnail
                .img-container
                  img.card-img-top(src='../../assets/img/compresor.jpg' alt='')
                .card-body
                  h4.project__title Provision y colocacion
                  p.card-text de compresores y de motores electricos.
  section.team
    .container
      .page-section
        .text-center
          h2.page-section__title Ventajas
          .team__title-style
            span.first-line
            span.second-line
        .row.gutters-80
          .col-md-4
            .thumbnail.team__single
              .bio.text-center
                .figure
                  img(src='../../assets/img/ahorro.png' alt='')
                h2 Costo
              .caption
                p
                  | El costo del mantenimiento, al ser preventivo o correctivo, es conocido de ante mano, durante un periodo determinado.

          .col-md-4
            .thumbnail.team__single
              .bio.text-center
                .figure
                  img(src='../../assets/img/mantenimiento.png' alt='')
                h2 Mantenimiento
              .caption
                p
                  |  A travez del correcto mantenimiento preventivo, se obtiene una permanente disposicion de los equipos a costos operativos reducidos y con una alta eficiencia en la prestación.
          .col-md-4
            .thumbnail.team__single
              .bio.text-center
                .figure
                  img(src='../../assets/img/quality.png' alt='')
                h2 Cálidad
              .caption
                p
                  |  Se alarga la vida util de los equipos, disminuyendo los costos futuros de las inversiónes por renovación.
  section#sponsors
    .page-section.pb-0
      .text-center
            h2.page-section__title Quiénes confían en nosotros
            .team__title-style
              span.first-line
              span.second-line
      .sponsors--bg
        .container
            sponsor-slider
  section#contact.form.form--bg
    .container
      .page-section
        .row
          .col-md-6
            h2.page-section__title.page-section__title--white Contáctenos
            .form__title-style
              span.first-line
              span.second-line
            p.page-section__subtitle.page-section__subtitle--white
              | Para pedir un presupuesto o ante cualquier consulta
              br
              |no dude en escribirnos a través de nuestras redes.
            .social-icons.d-flex.w-75.mt-4
                  li
                    a(href='#')
                      img(src='../../assets/img/facebook-icon.png' alt='')
                  li
                    a(href='#')
                      img(src='../../assets/img/whatsapp-icon.png' alt='')
                  li
                    a(href='#')
                      img(src='../../assets/img/gmail-icon.png' alt='')
          .col-md-6.d-flex.align-items-center
            <form action="#">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input class="form-control" type="email" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Consulta"></textarea>
              </div>
              <div class="row">
                <div class="col-md-6 checkbox">
                  <input type="checkbox" id="checkbox-1">
                  <label for="checkbox-1"> Subscribe to newslatter</label>
                </div>
                <div class="col-md-6 form-button">
                  <input class="button--form" type="submit" value="Enviar">
                </div>
              </div>
            </form>


  footer.footer.footer--bg
    .container
      .row
        .col-12.text-center.footer__left
          a.navbar-brand(href='#')
          p
            | Copyright
            span &copy;
            |  Webphorium 2020
