swiper(:options="swiperOption")
  swiper-slide
    .sponsors__single
      img(src='../../assets/img/citratus-logo-01.png' alt='')
  swiper-slide
    .sponsors__single
      img(src='../../assets/img/logo-alibue.png' alt='')
  swiper-slide
    .sponsors__single
      img(src='../../assets/img/logo-conosur.png' alt='')
  swiper-slide
    .sponsors__single
      img(src='../../assets/img/logo-ppe.png' alt='')
  swiper-slide
    .sponsors__single
      img(src='../../assets/img/logo-surfatec.png' alt='')
  swiper-slide
    .sponsors__single
      img(src='../../assets/img/logoferroclor.png' alt='')
  swiper-slide
    .sponsors__single
      img(src='../../assets/img/megalabs-logo.png' alt='')
  swiper-slide
    .sponsors__single
      img(src='../../assets/img/logo-bi.png' alt='')
  swiper-slide
    .sponsors__single
      img(src='../../assets/img/logo-farma.png' alt='')
  swiper-slide
    .sponsors__single
      img(src='../../assets/img/logo-abedul.png' alt='')
